.download {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.download::before,
.download::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 2px solid #166e6a;
  transition: all .15s ease;
}

.download::before {
  top: 0;
  border-bottom-width: 0;
}

.download::after {
  bottom: 0;
  border-top-width: 0;
}

.download:active,
.download:focus {
  outline: none;
}

.download:active::before,
.download:active::after {
  right: 3px;
  left: 3px;
}

.download:active::before {
  top: 3px;
}

.download:active::after {
  bottom: 3px;
}

.download_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #01865b;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}



.download_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #c53d2d;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.download_text {
  position: relative;
}

.download:hover {
  color: #0f1923;
}

.download:hover .download_sl {
  width: calc(100% + 15px);
}

.download:hover .download_lg::after {
  background-color: #fff;
}