#root {
  background-image: url('./assets/main.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
}